* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.triangle {
  display: inline-block;
  margin: 0 5px;
  vertical-align: middle;
}

header {
  background-color: #222;
  width: 100%;
}
.profit {
  width: 8px;
  height: 6px;
  border-bottom: solid 14px   rgb(124,252,0);
  border-left: solid 8px transparent;
  border-right: solid 8px transparent;
}
.loss {
  width: 8px;
  height: 6px;
  border-top: solid 14px   rgb(255,160,122);
  border-left: solid 8px transparent;
  border-right: solid 8px transparent;
}

.marquee-container {
  background-color: #222;
  color: white;
  font-size: 14px;
  padding: 10px;
  padding-bottom: 1px;
  font-weight: 900;
}

.logo {
  font-size: 24px;
  font-weight: 600;
  color: white;
}

.bold {
  font-weight: 900;
}

nav ul {
  display: flex;
  list-style-type: none;
}

nav li {
  margin-left: 30px;
}

nav a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-weight: 600;
  transition: color 0.3s;
}

nav a:hover {
  color: #00a6f0;
}

.nav-item.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.nav-item.dropdown:hover .dropdown-content {
  display: block;
}
